<h1><%= @cocktail.name %></h1>

<% @cocktail.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>

<h3>Ingredients</h3>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li> <ul>
      <li class="list-inline"> <%= dose.description %> </li>
      <li class="list-inline"> <%= dose.ingredient.name %> </li>
      <li class="list-inline"> <%= link_to "Delete", dose_path(dose), :method => :delete, data: { confirm: "Are you sure?" }%> </li>
    </ul> </li>
  <% end %>
</ul>
<h4> Add an Ingredient </h4>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= f.submit "Add this ingredient", class: "btn btn-primary" %>
<% end %>

<h3>Reviews</h3>
<ul>
  <% @cocktail.reviews.each do |review| %>
    <li>
      <p><%= review.content %></p>
    </li>
  <% end %>
</ul>

<h4> Add a Review </h4>

<%= simple_form_for [@cocktail, @review] do |f| %>
  <%= f.input :content %>
  <%= f.submit "Add this review", class: "btn btn-primary" %>
<% end %>


<h2><%= link_to "Back to overview", cocktails_path %></h2>
